@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background-color: #fff;
  min-height: 100vh;
  font-size: 16px;
  line-height: 20px;
  font-family: "Open Sans", sans-serif;
  position: relative;
}

header,
.header_box {
  display: block;
  width: 100%;
  height: 60px;
}

.header_box {
  background-color: #232323;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
}

.scroll_to_top {
  background-color: rgba(0, 0, 0, 0.2);
  width: 50px;
  height: 50px;
  border-radius: 6px;
  position: fixed;
  right: 20px;
  bottom: 60px;
  -webkit-transition: background-color .3s, opacity .3s;
  transition: background-color .3s, opacity .3s;
  cursor: pointer;
  display: -ms-grid;
  display: grid;
  place-items: center;
  opacity: 0;
}

.scroll_to_top .arrow.left, .scroll_to_top .arrow.right {
  width: 20px;
  height: 4px;
  background-color: #000;
}

.scroll_to_top .arrow.right {
  right: 9px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.scroll_to_top .arrow.left {
  right: 21px;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.scroll_to_top:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.header-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 60px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  background-color: #232323;
}

.header-inner .logo {
  height: 50px;
  width: 80px;
}

.header-inner .logo a {
  width: 100%;
  height: 100%;
  display: block;
  background-image: url("../img/logo.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.header-inner a {
  color: #fff;
}

.header-inner nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header-inner nav .nav_item + .nav_item {
  margin-left: 40px;
}

.header-inner .burger {
  display: -ms-grid;
  display: grid;
  place-items: center;
  cursor: pointer;
  display: none;
  padding: 5px;
  margin-left: -5px;
}

.header-inner .burger span {
  background: #fff;
  clear: left;
  float: left;
  height: 3px;
  margin-bottom: 5px;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  width: 30px;
}

.header-inner .burger span:last-child {
  margin-bottom: 0;
}

.header-inner .burger.active span:first-child {
  -webkit-transform: translateY(4px) rotate(45deg);
          transform: translateY(4px) rotate(45deg);
}

.header-inner .burger.active span:nth-child(2) {
  opacity: 0;
}

.header-inner .burger.active span:last-child {
  -webkit-transform: translateY(-12px) rotate(-45deg);
          transform: translateY(-12px) rotate(-45deg);
}

.header-inner .more {
  cursor: pointer;
  width: 50px;
  height: 80px;
  background-image: url("../img/more.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: initial;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header-inner .more.active {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
}

.header_options {
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
  height: 60px;
  background: #232323;
  z-index: -1;
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

.header_options .options_inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header_options.active {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.header_options .search {
  width: 100%;
}

.header_options .search form {
  position: relative;
}

.header_options .search input[type="text"] {
  width: 100%;
  height: 30px;
  margin: 15px 0;
  border: 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border-radius: 0;
  color: #fff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.header_options .search input[type="text"]:focus {
  outline: none;
  border-bottom: 1px solid white;
}

.header_options .search input[type="submit"] {
  cursor: pointer;
  display: block;
  padding: 3px 20px;
  background: rgba(255, 255, 255, 0.1);
  color: rgba(255, 255, 255, 0.6);
  font-size: 12px;
  text-transform: uppercase;
  line-height: 20px;
  position: absolute;
  top: 15px;
  right: 0;
  border: none;
  border-radius: 0;
}

.header_options .right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.header_options .right .switcher {
  margin: 0 15px;
}

.header_options .right .user_counter {
  color: #fff;
  text-align: center;
  white-space: nowrap;
}

.mobile_menu {
  visibility: hidden;
  position: absolute;
  width: 100%;
  z-index: 9999;
  background-color: #232323;
  color: #fff;
  padding: 30px;
  display: -ms-grid;
  display: grid;
  place-items: center;
  text-align: center;
}

.mobile_menu.active {
  visibility: visible;
}

.mobile_menu ul li a {
  color: #fff;
  opacity: 0.6;
}

.mobile_menu .user_counter {
  margin-top: 20px;
  color: #fff;
  opacity: 0.6;
}

.home_row {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 15px 30px;
}

.maxw {
  max-width: 1200px;
  margin: 0 auto;
}

.topm {
  margin-top: 35px;
}

.topm-sm {
  margin-top: 20px;
}

.seperator .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #3f826d;
  font-size: 24px;
  font-weight: bold;
}

.seperator .title .circle {
  background-color: #3f826d;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  margin-right: 10px;
}

.seperator .line {
  margin-top: 5px;
  width: 100%;
  height: 3px;
  background-color: #3f826d;
}

section:last-child {
  margin-bottom: 35px;
}

footer {
  background-color: #232323;
  height: 40px;
}

footer .footer-inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 100%;
}

footer .footer-inner .copyright {
  color: rgba(255, 255, 255, 0.6);
}

footer .footer-inner .links {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

footer .footer-inner .links .link {
  width: 25px;
  height: 25px;
}

footer .footer-inner .links .link .icon {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

footer .footer-inner .links .link + .link {
  margin-left: 10px;
}

a {
  text-decoration: none;
}

.main_grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 3fr 1fr;
      grid-template-columns: 3fr 1fr;
  margin-bottom: 30px;
}

.section_title {
  margin-left: 10px;
  margin-bottom: 20px;
  font-size: 36px;
  font-weight: bold;
  line-height: 36px;
}

.side_menu {
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.side_menu .year_wrapper {
  margin-top: 20px;
  text-align: center;
}

.side_menu .year_wrapper .year {
  font-size: 14px;
  margin-bottom: 20px;
}

.side_menu .year_wrapper .months {
  font-size: 16px;
  display: block;
  list-style-type: disc;
}

.side_menu .year_wrapper .months li {
  margin: 0;
  list-style: none;
  line-height: 20px;
  margin-bottom: 5px;
}

.side_menu .year_wrapper .months li a {
  text-decoration: none;
  color: #333;
}

.side_menu .year_wrapper .months li a:hover {
  text-decoration: underline;
}

.side_menu .year_wrapper .months li.current {
  font-weight: 900;
}

main {
  min-height: calc(100vh - 40px);
  position: relative;
}

.container .page-title {
  font-size: 36px;
  line-height: 45px;
  margin-bottom: 25px;
}

.container a {
  text-decoration: none;
  color: #0028bb;
}

.container a:hover {
  text-decoration: underline;
}

.container .info {
  margin-bottom: 20px;
}

.container .info .meta {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .info .meta .author {
  text-transform: uppercase;
  font-size: 16px;
  line-height: 20px;
  margin-right: 5px;
}

.container .info .meta .date {
  font-style: italic;
  font-size: 14px;
  line-height: 20px;
}

.container .info .meta .date::before {
  content: "·";
  margin-right: 5px;
}

.container .info .tags {
  margin-top: 10px;
}

.container .info .tags::before {
  content: "# ";
  color: #0028bb;
  font-size: 14px;
}

.container .post_img {
  margin-bottom: 20px;
  max-height: 640px;
}

.container .post_img img {
  height: 100%;
  display: block;
  width: 100%;
  max-height: 640px;
  -o-object-fit: cover;
     object-fit: cover;
}

.container .post_body {
  padding: 0 12%;
  margin-bottom: 60px;
}

.container .post_body p {
  margin: 20px 0;
  font-size: 22px;
  line-height: 34px;
}

.container .post_body p em {
  font-size: 26px;
  font-weight: bold;
}

.container .post_body p img {
  width: 100%;
}

.switcher,
.switcher.open .dropdown {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #3f826d;
  cursor: pointer;
}

.switcher {
  position: relative;
  width: 120px;
  height: 32px;
  color: #fff;
  border-radius: 4px;
  z-index: 2;
}

.dropdown,
header svg {
  display: none;
}

.switcher.open {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.switcher.open .title .arrow.right {
  -webkit-transform: rotate(-135deg);
          transform: rotate(-135deg);
}

.switcher.open .title .arrow.left {
  -webkit-transform: rotate(135deg);
          transform: rotate(135deg);
}

.switcher.open .dropdown {
  position: absolute;
  top: 28px;
  left: 0;
  right: 0;
  height: 26px;
  padding-left: 12px;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
}

.switcher:hover {
  opacity: 1;
}

.switcher.open .dropdown:hover span {
  color: #f4c496;
}

.switcher.open .dropdown span {
  -webkit-transition: color 300ms;
  transition: color 300ms;
  height: 100%;
  text-align: left;
}

.switcher .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 96px;
  height: 100%;
  padding: 0 12px;
  z-index: 2;
}

.switcher .title span {
  color: #fff;
}

.arrow.left,
.arrow.right {
  position: absolute;
  right: 14px;
  width: 10px;
  height: 2px;
  display: block;
  background-color: #fff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.arrow.left {
  right: 20px;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.shitbar {
  top: 95px;
  font-size: 14px;
  color: #000;
}

.shitbar .count {
  margin-top: 5px;
  text-align: center;
}

.center {
  display: -ms-grid;
  display: grid;
  place-items: center;
  width: 100%;
}

.center .inner {
  width: 80%;
  height: 480px;
  position: relative;
  margin-left: -20px;
  margin-right: -20px;
}

.center .inner::after, .center .inner::before {
  content: "";
  display: block;
  width: 20px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  top: 0;
  z-index: 2;
}

.center .inner::after {
  right: -1px;
}

.center .inner::before {
  left: -1px;
}

.center .inner .arrow-btn {
  z-index: 3;
  width: 40px;
  height: 40px;
  background-color: #232323;
  opacity: 0.9;
  border-radius: 50%;
  position: absolute;
  top: calc(50% - 20px);
  background-image: url(../img/arrow.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 30%;
  cursor: pointer;
}

.center .inner .arrow-btn.left {
  left: -1px;
}

.center .inner .arrow-btn.right {
  right: -1px;
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.img_slider_wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: #000;
  position: relative;
}

.img_slider_wrapper.fullscreen {
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}

.img_slider_wrapper.fullscreen .actions .open {
  display: none;
}

.img_slider_wrapper.fullscreen .actions .close {
  width: 30px;
  height: 30px;
  background-image: url("../img/close.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.img_slider_wrapper.fullscreen .arrow-btn {
  display: block;
}

.img_slider_wrapper.fullscreen .arrow-btn.left {
  left: 30px;
}

.img_slider_wrapper.fullscreen .arrow-btn.right {
  right: 30px;
}

.img_slider_wrapper .img_slider {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
}

.img_slider_wrapper .img_slider .img_wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
}

.img_slider_wrapper .img_slider .img_wrapper img {
  width: 100%;
  height: calc(100% - 40px);
  -o-object-fit: contain;
     object-fit: contain;
}

.img_slider_wrapper .actions {
  position: absolute;
  top: 20px;
  right: 40px;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
  cursor: pointer;
}

.img_slider_wrapper .actions .open {
  width: 30px;
  height: 30px;
  background-image: url("../img/fullscreen.svg");
  background-repeat: no-repeat;
  background-size: contain;
}

.img_slider_wrapper:hover .actions {
  opacity: 1;
}

.img_slider_wrapper .arrow-btn {
  display: none;
}

ul li {
  line-height: 16px !important;
  margin-bottom: 15px !important;
  list-style: none;
}

ul li a {
  font-weight: bold;
  color: #333;
  font-size: 16px;
}

ul li a:hover {
  text-decoration: underline;
}

ul li span {
  display: block;
  font-style: italic;
  font-size: 14px;
}

ul li span::before {
  content: "·";
  display: inline-block;
  margin-right: 5px;
}

@media (max-width: 1200px) {
  .slide .slide_wrapper-container-horizontal .slide-wrapper .item {
    width: calc(100% - 30px) !important;
    -webkit-box-flex: 0 !important;
        -ms-flex: 0 0 calc(100% - 30px) !important;
            flex: 0 0 calc(100% - 30px) !important;
    max-width: calc(100% - 30px) !important;
  }
  .slide_and_news {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .maxw {
    padding: 0 30px;
  }
  .home_row {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .blog .blog_sidebar {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / span 2;
    margin-left: 30px;
  }
  ul li span {
    display: inline-block;
  }
  .side_menu {
    display: none;
  }
  .main_grid {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
}

@media (max-width: 768px) {
  .center {
    display: -ms-grid;
    display: grid;
    place-items: center;
    width: 100%;
  }
  .center .inner {
    width: 100%;
    height: 240px;
  }
  .container .post_body {
    padding: 0;
  }
  .slide_and_news {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .home_sidebar {
    margin-top: 30px;
  }
  .home_row {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .blog .blog_sidebar {
    -ms-grid-column: 1;
    grid-column: 1;
    margin-left: 30px;
  }
  header .header-inner .burger {
    display: -ms-grid;
    display: grid;
  }
  header .header-inner nav {
    display: none;
  }
  .header-inner .switcher {
    display: none;
  }
  .header_options .right {
    display: none;
  }
  .img_slider_wrapper.fullscreen .arrow-btn {
    display: block;
  }
  .img_slider_wrapper.fullscreen .arrow-btn.left {
    left: 10px;
  }
  .img_slider_wrapper.fullscreen .arrow-btn.right {
    right: 10px;
  }
}
/*# sourceMappingURL=main.css.map */