.inner_nav {
  width: 100%;
  margin-bottom: 30px;
}

.nav_items {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 30px;
  .item {
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    cursor: pointer;
    &.active {
      border-bottom: 2px solid #3f826d;
      color: #3f826d;
      &:hover {
        background-color: transparent;
      }
    }
    &:hover {
      background-color: rgba(0, 0, 0, 0.05);
      color: #3f826d;
    }
  }
}

.tab {
  padding: 0 15px;
  display: none;
  &.active {
    display: block;
  }
}

.history {
  .year_wrapper {
    background-color: #f5f5f5;
    max-width: 600px;
    margin: 0 auto;
    padding: 60px;
    .year {
      color: #3f826d;
      font-size: 34px;
      font-weight: bold;
      margin-bottom: 20px;
    }
    & + .year_wrapper {
      margin-top: 30px;
    }

    .content {
      font-size: 20px;
      line-height: 24px;
    }
  }
}

.location {
  .top {
    width: 60%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
  }
  .info_item {
    .title {
      font-size: 16px;
      font-style: italic;
      margin-bottom: 5px;
    }
    .content {
      font-size: 20px;
      font-weight: bold;

      a {
        color: #0028bb;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .bottom {
    width: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr;

    .metro {
      grid-column: 1 / span 2;
    }
  }
}

.plays {
  .items {
    padding: 0 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 30px;
    .item {
      width: 100%;
      height: 360px;
      display: inline-block;
      a {
        text-decoration: none;
        overflow: hidden;
        width: 100%;
        height: 360px;
        display: block;
        position: relative;
      }
      .img {
        transition: all 3s ease-out;
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        box-shadow: inset 0px -110px 60px rgba(0, 0, 0, 0.7);
      }
      &:hover {
        .img {
          box-shadow: inset 0px -150px 60px rgba(0, 0, 0, 0.7);
          transform: scale(1.1);
        }
      }
      .genre {
        position: absolute;
        top: 15px;
        background-color: rgba(255, 255, 255, 0.9);
        text-align: center;
        font-size: 24px;
        padding: 10px 15px;
        color: #000;
        font-weight: bolder;
      }
      .info_wrapper {
        position: absolute;
        bottom: 0;
        left: 0;
        color: #fff;
        padding: 10px 20px;
        .title {
          font-size: 18px;
          font-weight: bold;
          margin-bottom: 5px;
        }
        .descriprion {
          font-size: 14px;
          line-height: 20px;
          margin-bottom: 15px;
        }
      }
    }
  }
}


@media (max-width: 768px) {
  .nav_items .item {
    font-size: 16px;
  }

  .tab {
    padding: 0;
  }

  .history {
    .year_wrapper {
      max-width: unset;
      margin: 0;
      padding: 15px;
    }
  }

  .plays {
    .items {
      padding: 0;
    }
  }

  .location .top, .location .bottom {
    width: 100%;
  }
}